/* Media Queries */

@media (max-width:1540px){ 
    html,body{
        font-size: 16px;
    }
}
@media (max-width:1330px){ 
    .container{
        max-width: 100%;
    } 
}
@media screen and (min-width:0) and (max-width:992px) {
    html,body{
        font-size: 14px;
    } 
}
@media screen and (min-width:0) and (max-width:767px) {  
    html,body{
        font-size: 13px;
    } 
}
@media screen and (min-width:0) and (max-width:400px) {
   
}

