<header class="py-3 border-bottom bg-light" id="header">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none me-4">
				<img src="assets/images/logo.svg" alt="logo" width="60">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-capitalize">
				<li><a href="index.html" class="nav-link px-3 link-secondary">home</a></li> 		
				<li><a href="cheatsheet.html" class="nav-link px-3 link-dark">cheatsheet</a></li>
				<li><a href="templates-list.html" class="nav-link px-3 link-dark">Templates</a></li> 
			</ul>
			<div class="dropdown text-end">
				<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
					data-bs-toggle="dropdown" aria-expanded="false">
					<svg class="bd-placeholder-img rounded-circle" width="30" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#296FB7"></rect><text x="10" y="13" fill="#fff" dy=".5em" class="text-white">M</text>
					</svg>
					<span class="mx-1">Mostafa</span>
				</a>
				<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
					<li><a class="dropdown-item" href="#">New project...</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item text-danger" href="#">Sign out</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>