{% extends "inner-layout.html" %}
{% set title = 'Home page' %}

{% block content %}

<div class="page-layout">  
	<div class="container">  
		<section> 
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6">
					<img src="https://images.unsplash.com/photo-1541471943749-e5976783f6c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
						height="500" loading="lazy" class="rounded">
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold lh-1 mb-3">عنوان كبير  جدا هنا كدة</h1>
					<p class="lead my-4 text-muted">
						المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، 
					</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<button type="button" class="btn btn-primary btn-lg px-4 me-md-2"> زر رئيسي </button>
						<button type="button" class="btn btn-outline-secondary btn-lg px-4"> زر إضافي </button>
					</div>
				</div>
			</div>  
		</section>
	</div>

		<section class="my-5 text-center bg-light py-5">
			<div class="container">  
				<div class="row">
					<div class="col-lg-4 mb-4">
						<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
								dy=".3em">140x140</text>
						</svg>
						<div class="my-4">
							<h2>عنوان</h2>
							<p>تذكر دائماً أن الحاسوب لا يمتلك ذكاءً، ولكنه يكتسب الذكاء الاصطناعي من خلال ثلاثة عناصر وظيفية رئيسة، هي:
								القدرة على التحليل، والقدرة على التأليف، والاستدلال المنطقي.</p>
							<p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
						</div> 
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4 mb-4">
						<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
								dy=".3em">140x140</text>
						</svg>
						<div class="my-4">
							<h2>عنوان آخر</h2>
							<p>تذكر دائماً أن الحاسوب لا يمتلك ذكاءً، ولكنه يكتسب الذكاء الاصطناعي من خلال ثلاثة عناصر وظيفية رئيسة، هي:
								القدرة على التحليل، والقدرة على التأليف، والاستدلال المنطقي.</p>
							<p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
						</div> 
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4 mb-4">
						<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
								dy=".3em">140x140</text>
						</svg>
						<div class="my-4">
							<h2>عنوان ثالث لتأكيد المعلومة</h2>
							<p>تذكر دائماً أن الحاسوب لا يمتلك ذكاءً، ولكنه يكتسب الذكاء الاصطناعي من خلال ثلاثة عناصر وظيفية رئيسة، هي:
								القدرة على التحليل، والقدرة على التأليف، والاستدلال المنطقي.</p>
							<p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p>
						</div> 
					</div><!-- /.col-lg-4 -->
				</div>
			</div>
		</section> 
	<div class="container">  
		<section class="my-5 py-5">
			<div class="row featurette">
				<div class="col-md-7 d-flex flex-column justify-content-center">
					<h2 class="text-primary">العنوان الأول المميز. <span class="text-muted"> سيذهل عقلك. </span></h2>
					<p class="lead my-3 text-muted">وجه الإنسان هو جزء معقَّد ومتميِّز للغاية من جسمه. وفي الواقع، إنه أحد أكثر أنظمة الإشارات
						المتاحة تعقيداً لدينا؛ فهو يتضمَّن أكثر من 40 عضلة مستقلة هيكلياً ووظيفياً، بحيث يمكن تشغيل كل منها بشكل
						مستقل عن البعض الآخر؛ وتشكِّل أحد أقوى مؤشرات العواطف.</p>
				</div>
				<div class="col-md-5">
					<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
						height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
						preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#ddd"></rect> 
					</svg> 
				</div>
			</div> 
		</section>
		<section class="my-5 py-5">
			<div class="row featurette">
				<div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">
					<h2 class="text-primary">أوه نعم، هذا جيد. <span class="text-muted"> شاهد بنفسك. </span></h2>
					<p class="lead my-3 text-muted">عندما نضحك أو نبكي، فإننا نعرض عواطفنا، مما يسمح للآخرين بإلقاء نظرة خاطفة على أذهاننا أثناء
						"قراءة" وجوهنا بناءً على التغييرات في مكوّنات الوجه الرئيسة، مثل: العينين والحاجبين والجفنين والأنف
						والشفتين.</p>
				</div>
				<div class="col-md-5 order-md-1">
					<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
						height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
						preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#ddd"></rect> 
					</svg>
			
				</div>
			</div>
		</section>
	</div>	 
</div>

{% endblock %}


{% block scripts %}

{% endblock %}