
{% extends "inner-layout.html" %} 
{% set title = 'Login' %} 

{% block content %}
 
  <div class="page-layout py-3">
    <div class="container"> 
        <div class="row g-6 mt-4">
            <div class="col-lg-5 col-md-6">
                <div class="mb-5"> 
                    <div class="p-4 bg-body-secondary rounded"> 
                        <h2>Login</h2>
                        <form>
                            <div class="my-4">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div> 
                                    <div class="mb-3 form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me </label>
                                    </div> 
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary d-block w-100">Login</button>
                        </form> 
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">

                <div class="mb-5 rounded-4 shadow"> 
                    <div class="p-5 pt-0 bg-white">
                    <h2 class="fw-bold m-0 py-4 fs-2">Sign up for free</h2>

                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign
                                up</button>
                            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                            <hr class="my-4">
                            <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                            <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#twitter"></use></svg>
                                Sign up with Twitter
                            </button>
                            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#facebook"></use></svg>
                                Sign up with Facebook
                            </button>
                            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#github"></use></svg>
                                Sign up with GitHub
                            </button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div> 
  </div> 

{% endblock %} 
 

{% block scripts %}
 
{% endblock %}
