
{% extends "inner-layout.html" %} 
{% set title = 'Login' %} 

{% block content %}
 
  <div class="page-layout">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4 col-md-6 m-auto my-5 p-4 bg-light rounded">
                <h2>Login</h2>
                <form>
                   <div class="my-4">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div> 
                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me </label>
                        </div> 
                   </div>
                    <button type="submit" class="btn btn-lg btn-primary d-block w-100">Login</button>
                </form>
            </div>
        </div>

    </div> 
  </div> 

{% endblock %} 
 

{% block scripts %}
 
{% endblock %}
