{% extends "inner-layout.html" %}
{% set title = 'Templates' %}

{% block content %}

<div class="page-layout py-3">
    <div class="container">
        {% include 'partials/_breadcrumb.html' %}
        <div class="templates-inner">
            <div class="row g-3 g-lg-5 text-center mb-5"> 
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="payment.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/payment.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Payment </h5>
                    </a> 
                </div>  
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="service.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/start-service.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Start service </h5> 
                    </a> 
                </div> 
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="card-list.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/cards.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Card list  </h5> 
                    </a> 
                </div>  
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="contact.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none"> 
                        <img src="assets/images/screens/contact.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Contact Us </h5>  
                    </a> 
                </div>  

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="faq.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none"> 
                        <img src="assets/images/screens/faq.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> FAQ </h5> 
                    </a> 
                </div>  

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="register.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/register.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Register </h5> 
                    </a> 
                </div>  
                
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="login.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/login.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Login </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="404.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/404.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> 404 </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="outage.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/general-4.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Service outage </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="email.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/email-template.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis">  Email template </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="otp.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/otp.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> OTP </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="permit.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/general-2.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Permit </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="features.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/card-list.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Features </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="pricing.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/pricing.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Pricing </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="checkout.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/general.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis"> Check out </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="dashboard.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/dashboard.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis">  Dashboard </h5> 
                    </a> 
                </div>                

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="modals.html" class="bg-white border border-2  card hover-shadow hover-y-10 py-4 text-decoration-none">
                        <img src="assets/images/screens/modals.png" alt="">
                        <h5 class="fs-4 fw-bold mt-4 text-primary-emphasis">  Modals </h5> 
                    </a> 
                </div>
                
            </div>
        </div> 
    </div>
</div> 
{% endblock %}
