{% extends "inner-layout.html" %}
{% set title = 'Templates' %}

{% block content %}

<div class="page-layout">
    <div class="container">
        {% include 'partials/_breadcrumb.html' %}
        <div class="templates-inner">
            <div class="row g-3 g-lg-5 text-center mb-5">
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="payment.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Payment </h5> 
                    </a> 
                </div>  
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="service.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Start service </h5> 
                    </a> 
                </div> 
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="card-list.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Card list  </h5> 
                    </a> 
                </div>  
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="contact.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none"> 
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Contact Us </h5>  
                    </a> 
                </div>  

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="faq.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none"> 
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> FAQ </h5> 
                    </a> 
                </div>  

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="register.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Register </h5> 
                    </a> 
                </div>  
                
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="login.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Login </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="404.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> 404 </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="outage.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Service outage </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="email.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0">  Email template </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="otp.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> OTP </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="permit.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Permit </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="features.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Features </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="pricing.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Pricing </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="checkout.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0"> Check out </h5> 
                    </a> 
                </div> 

                <div class="col-6 col-md-4 col-lg-3">
                    <a href="dashboard.html" class="bg-white border border-2 border-primary card hover-shadow hover-y-10 py-5 text-decoration-none">
                        <h5 class="card-title fw-bold fs-3 m-0 start-0">  Dashboard </h5> 
                    </a> 
                </div>
                
            </div>
        </div> 
    </div>
</div>

{% endblock %}