@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
:root{
    --primary: #17aedb;
    --bs-body-bg: #212529;
    --bs-white-rgb: 255,255,255;
    --bs-primary-rgb: 23,174,219; 
    --bs-light-rgb: 248,249,250;
    --bs-body-color: #111;
} 
.btn-primary{
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
}
body{
    font-family: 'Tajawal', sans-serif;
}
.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-between{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 500px;
} 
.wrapper{
    display: grid;
    place-items: center;
}
.map{
    aspect-ratio: 3/2.5; 
} 
.location-img{
    overflow: auto;
    // &::-webkit-scrollbar {
    //     width: 2px !important;
    // }  
    // &::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }
     
    // &::-webkit-scrollbar-thumb {
    //     background: red;
    // }
     
    // &::-webkit-scrollbar-thumb:hover {
    //     background: green;
    // }
    .img-box{
        position: relative;
        display: block; 
        img{
            aspect-ratio: 3/2;
            object-fit: cover; 
            max-height: 70vh;
            min-width: 180px;
        }  
        .enlarge{
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 35px;
            height: 35px;
            color: #fff;
            background: #00000040;
            text-align: center;
            display: grid;
            place-items: center;
            border-radius: 5px;
            backdrop-filter: blur(1px);
            z-index: 2;
            padding: 5px;
        }
        .img-open &{
            position: fixed;
            width: 100%;
            height: 100%;
            padding: 10vh 10vw;
            top: 0;
            right: 0;
            display: grid;
            place-items: center;
            background: #0000006e;
            backdrop-filter: blur(10px);
            span{
                display: block;
            }
        } 
    }
} 
.modal-backdrop.fade{
    background-color: #06291966;
    opacity: 1;
    backdrop-filter: blur(10px);
} 
.modal-dialog{ 
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    .btn-close{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        text-align: center;
        font-size: 1rem;
        line-height: 1.2;
        border-radius: 50%;
        opacity: 1;
    }
}
@media screen and (min-width:0) and (max-width:767px) {    
    .wrapper{
        place-items: baseline;
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --primary: #17aedb;
        --bs-body-bg: #212529;
        --bs-white-rgb: 33,37,41;
        --bs-primary-rgb: 23,174,219; 
        --bs-light-rgb: 18,18,18;
        --bs-body-color: #fff;
    } 
    .map{
        filter: invert(0.99) saturate(0.5);
    }
}