// control theme colors from here - you can add more variables from "_variables.scss"
$primary: #0000D7;
$enable-negative-margins: true;

:root{
      --bs-primary-rgb: 0, 0, 215 !important; 
      --bs-primary-text: #0000D7 !important;
      --bs-body-font-family: 'din' !important;
}

@import "bootstrap/bootstrap";  // v5.3.0 // local version so you can control imported components - please remove any unused components u don't need. 

@import 'sub/rtl'; // to enable two directions support - remove this file if u use english only

@import 'sub/_reset'; // reset css with some useful extra style 

@import 'sub/_animation'; // basic animation style
 
@import 'sub/_custom'; // add your custom style here

@import 'sub/_media-queries'; // empty media queries 
 

 
